.neon-text {
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #FFD700; /* Yellow color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    position: fixed;
    bottom: 50px; /* Adjust the position as needed */
    right: 20px;
    z-index: 1000;
    text-align: right;
}

.neon-text span {
    display: block;
    margin-bottom: 3px; /* Smallest line spacing */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

h1 {
    color: #4CAF50;
}

#gameArea {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 600px;
    background-color: #87CEEB;
    overflow: hidden;
    border: 2px solid #4CAF50;
}

#plane {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bullet {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: red;
}

.enemy {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    top: 0;
}

#score {
    margin-top: 20px;
    font-size: 1.2em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#phoneNumber {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}
